.progress-bar {
  width: 100%;
  height: 0.75rem;
  background-color: var(--uc-background);
  border-radius: 8px;
  border: 1px solid var(--uc-foreground);

  &__progress {
    height: calc(0.75rem - 1px);
    background-color: var(--uc-foreground);
    border-radius: 8px;
  }
}
